﻿@page "{quizId}"
@model AnswerQuestionsModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.StudentProgrammesActive = "active";
    ViewBag.LoggedUser = Model.Student.FullName;
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">
                @Model.Quiz.Name
            </h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Please note that once submitted....................</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <form method="post">
                            @foreach (var question in Model.QuizQuestions.Select((value, i) => new { i, value }))
                            {
                                <div class="row">
                                    <div class="col">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <h5><label for="feFirstName">@(question.i + 1). @question.value.Questions</label></h5>

                                                <ul class="list-group list-group-flush question_@question.value.Id">
                                                    <li class="list-group-item px-3 pb-2">
                                                        @if (question.value.AnswerType == QuestionTypes.ShortAnswer)
                                                        {
                                                        <div class="mb-1">
                                                            <textarea class="form-control" id="category_short_q_@question.value.Id" placeholder="Your answer..." rows="3"></textarea>
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                            foreach (var choices in Model.QuizQuestionsChoices.Where(c => c.QuizzesQuestionsId == question.value.Id).Select((value, i) => new { i, value }))
                                                            {
                                                                switch (question.value.AnswerType)
                                                                {
                                                                    case QuestionTypes.SingleObjectives:
                                                                        <div class="custom-control custom-radio mb-2">
                                                                            <input type="radio" class="custom-control-input" name="q_a_1" id="category11_@choices.i">
                                                                            <label class="custom-control-label" for="category11_@choices.i">@choices.value.Choices</label>
                                                                        </div>
                                                                        break;
                                                                    case QuestionTypes.MutipleObjectives:
                                                                        <div class="custom-control custom-checkbox mb-1">
                                                                            <input type="checkbox" class="custom-control-input" id="category__@choices.i">
                                                                            <label class="custom-control-label" for="category__@choices.i">@choices.value.Choices</label>
                                                                        </div>
                                                                        break;
                                                                }
                                                            }
                                                        }

                                                    </li>                                                   
                                                </ul>                                               
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                            }

                            <button type="submit" class="btn btn-accent"> Submit</button>
                        </form>                      
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>