﻿@page
@model IndexModel
@{
    ViewData["Title"] = "School - Dashboard";
    ViewBag.DashboardActive = "active";
    ViewBag.LoggedUser = Model.Student.FullName;
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">@Model.School.Name Overview</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <!-- Top Referrals Component -->
        <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Your Programmes</h6>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush">
                        @foreach (var programs in Model.Programs)
                        {
                            <li class="list-group-item d-flex px-3">
                                <span class="text-semibold text-fiord-blue">@programs.SchoolProgramme.Name</span>
                                <span class="ml-auto text-right text-semibold text-reagent-gray">19,291</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Referrals Component -->
        <!-- Top Referrals Component -->
        <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Your Courses </h6>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush">
                        @foreach (var courses in Model.ProgrammeCoursesList)
                        {
                            <li class="list-group-item d-flex px-3">
                                <span class="text-semibold text-fiord-blue">@courses.Name</span>
                                <span class="ml-auto text-right text-semibold text-reagent-gray">@courses.Credit</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Referrals Component -->
        <!-- Top Referrals Component -->
        <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Your Syllabus </h6>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush">
                        @foreach (var syllabus in Model.SyllabusList)
                        {
                            <li class="list-group-item d-flex px-3">
                                <span class="text-semibold text-fiord-blue">@syllabus.Name</span>
                                <span class="ml-auto text-right text-semibold text-reagent-gray">@syllabus.Faculty.FullName</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Referrals Component -->
        <!-- Top Referrals Component -->
        <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Your Quizzes </h6>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush">
                        @foreach (var quiz in Model.QuizsList)
                        {
                            <li class="list-group-item d-flex px-3">
                                <span class="text-semibold text-fiord-blue"> <a href="/Student/AnswerQuestions/@quiz.Id">@quiz.Name</a></span>
                                <span class="ml-auto text-right text-semibold text-reagent-gray">@quiz.SyllabusTopics.Name</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Referrals Component -->
    </div>
</div>