﻿<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="~/images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">@QuizappSettings.Setting().ProjectName</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
        </div>
    </form>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link @ViewBag.DashboardActive" href="/School/">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.UsersActive" href="/School/Users">
                    <i class="material-icons">group</i>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.FacultyActive" href="/School/Faculties">
                    <i class="material-icons">group</i>
                    <span>Faculties</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.StudentsActive" href="/School/Students">
                    <i class="material-icons">group</i>
                    <span>Students</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.ProgrammesActive">
                <a class="nav-link " href="/School/Programmes">
                    <i class="material-icons">school</i>
                    <span>Programmes</span>
                </a>
            </li>

            <li class="nav-item @ViewBag.StudentProgrammesActive">
                <a class="nav-link " href="/School/StudentProgrammes">
                    <i class="material-icons">device_hub</i>
                    <span> Student Programmes</span>
                </a>
            </li>

            <li class="nav-item @ViewBag.CoursesActive">
                <a class="nav-link " href="/School/Courses">
                    <i class="material-icons">vertical_split</i>
                    <span>Courses</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.SyllabusActive">
                <a class="nav-link " href="/School/Syllabus">
                    <i class="material-icons">vertical_split</i>
                    <span>Syllabus</span>
                </a>
            </li>

            <li class="nav-item @ViewBag.SyllabuStudentsActive">
                <a class="nav-link " href="/School/SyllabusStudents">
                    <i class="material-icons">device_hub</i>
                    <span>Syllabus Students</span>
                </a>
            </li>

            <li class="nav-item @ViewBag.TopicsActive">
                <a class="nav-link " href="/School/Topics">
                    <i class="material-icons">view_module</i>
                    <span>Topics</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.QuizQuestionTypeActive">
                <a class="nav-link " href="/School/QuizQuestionTypes">
                    <i class="material-icons">view_module</i>
                    <span>Quiz Question Type</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.QuizzesActive">
                <a class="nav-link " href="/School/Quizzes">
                    <i class="material-icons">live_help</i>
                    <span>Quizzes</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.QuizQuestionsActive">
                <a class="nav-link " href="/School/QuizQuestions">
                    <i class="material-icons">live_help</i>
                    <span>Quiz Questions</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.QuizQuestionChoicesActive">
                <a class="nav-link " href="/School/QuizQuestionChoices">
                    <i class="material-icons">format_list_numbered</i>
                    <span>Quiz Question Choices</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.QuizQuestionAnswersActive">
                <a class="nav-link " href="/School/QuizQuestionAnswers">
                    <i class="material-icons">done</i>
                    <span>Quiz Question Answers</span>
                </a>
            </li>
            <li class="nav-item @ViewBag.ResultsActive">
                <a class="nav-link " href="/School/Results">
                    <i class="material-icons">view_module</i>
                    <span>Results</span>
                </a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link " href="add-new-post.html">
                <i class="material-icons">note_add</i>
                <span>Add New Post</span>
            </a>
        </li>*@
        </ul>
    </div>
</aside>