﻿@using Quizapp.Models
@model ValidationMessage

@{
    //var message = (ValidationMessage)ViewData["Message"];
}

@if (Model.Type == ValidationMessageType.Warning)
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>Ooops!</strong> @Model.Message
        </div>
    }
}

@if (Model.Type == ValidationMessageType.Danger)
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>Sorry!</strong> @Model.Message
        </div>
    }
}

@if (Model.Type == ValidationMessageType.Success)
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>Nice one!</strong> @Model.Message
        </div>
    }
}