﻿@page
@model AddProgrammeModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.ProgrammesActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Add Programme</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Programme Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="feFirstName">Name</label>
                                            <input type="hidden" class="form-control" asp-for="Input.SchoolId" value="@Model.School.Id">
                                            <input type="text" class="form-control" asp-for="Input.Name" value="" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="feEmailAddress">Duration</label>
                                                <input type="text" class="form-control" asp-for="Input.Duration" placeholder="Duration" value="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">Program Coordinator</label>
                                                <select asp-items="@Model.ProgramCoordinator" asp-for="Input.ProgramCoordinatorId" class="form-control">
                                                    <option>Please select Coordinator</option>
                                                </select>
                                            </div>
                                        </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">Active</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsActive">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Add Programme</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>