﻿@page "{quizquestionId?}"
@model AddQuizQuestionChoiceModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.QuizQuestionsActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Add Quiz Question Choice @(Model.QuizQuestion != null ? "for " + Model.QuizQuestion?.Questions : "" ?? "")</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">@(Model.QuizQuestion?.Questions ?? "") Question Choice Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        @if (Model.QuizQuestion != null)
                                        {
                                            <input type="hidden" class="form-control" asp-for="Input.QuizzesQuestionsId" value="@Model.QuizQuestion.Id">
                                        }
                                        else
                                        {
                                            <div class="form-group col-md-12">
                                                <label for="feFirstName">Quiz</label>
                                                <select asp-items="@Model.QuizQuestionLists" asp-for="Input.QuizzesQuestionsId" class="form-control">
                                                    <option>Please select Quiz Question</option>
                                                </select>
                                            </div>
                                        }
                                        <div class="form-group col-md-12">
                                            <label for="feFirstName">Choice</label>
                                            <textarea class="form-control" name="Input.Choices" placeholder="Choice" rows="5"></textarea>
                                        </div>                                        

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="Input.IsCorrect">Is Correct ?</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsCorrect">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="Input.IsActive">Active</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsActive">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Add Quiz</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>