﻿@page "{quizquestionId?}"
@model AddQuizQuestionModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.QuizzesActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Add Quiz @(Model.Quiz != null ? "for " + Model.Quiz?.Name : "" ?? "")</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">@(Model.Quiz?.Name ?? "") Question Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        @if (Model.Quiz != null)
                                        {
                                            <input type="hidden" class="form-control" asp-for="Input.TopicQuizzesId" value="@Model.Quiz.Id" placeholder="Question">
                                        }
                                        else
                                        {
                                            <div class="form-group col-md-12">
                                                <label for="feFirstName">Quiz</label>
                                                <select asp-items="@Model.Quizzes" asp-for="Input.TopicQuizzesId" class="form-control">
                                                    <option>Please select Quiz</option>
                                                </select>
                                            </div>
                                        }
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">Topic</label>
                                            <select asp-items="@Model.QuizQuestionTypes" asp-for="Input.AnswerType" class="form-control">
                                                <option>Please select Question Type</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName"> Name</label>
                                            <input type="text" class="form-control" asp-for="Input.Questions" value="" placeholder="Question">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">Active</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsActive">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Add Quiz</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>