﻿@page
@model AddSyllabusModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.SyllabusActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Add Syllabus</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Syllabus Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">Course</label>
                                            <select asp-items="@Model.CoursesSelectList" asp-for="Input.CourseId" class="form-control">
                                                <option>Please select Course</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName"> Name</label>
                                            <input type="text" class="form-control" asp-for="Input.Name" value="" placeholder="Syllabus Name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="feFirstName">Lecturer/Faculty</label>
                                            <select asp-items="@Model.FacultySelectList" asp-for="Input.FacultyId" class="form-control">
                                                <option>Please select Lecturer/Faculty</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">Active</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsActive">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Add Syllabus</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>