﻿@page "{id}"
@model EditUserModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.UsersActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Edit User</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">User Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">First Name</label>
                                            <input type="hidden" asp-for="Input.Id" value="@Model.Input.Id" />
                                            <input type="hidden" class="form-control" asp-for="Input.SchoolId" value="@Model.School.Id" placeholder="First Name">
                                            <input type="text" class="form-control" asp-for="Input.FirstName" placeholder="First Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName">Last Name</label>
                                            <input type="text" class="form-control" asp-for="Input.LastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feEmailAddress">Email</label>
                                            <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fePassword">Phone</label>
                                            <input type="text" class="form-control" asp-for="Input.PhoneNumber" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feEmailAddress">Username</label>
                                            <input type="text" class="form-control" asp-for="Input.Username" placeholder="Username">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fePassword">Password</label>
                                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">Active</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsActive">
                                        </div>
                                        @*<div class="form-group col-md-6">
                                            <label for="inputZip">School Registered</label>
                                            <input type="checkbox" class="form-control" asp-for="Input.IsSchoolRegistered">
                                        </div>*@
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="feDescription">Address</label>
                                            <textarea class="form-control" name="Input.Address" rows="5">@Model.Input.Address</textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Update User</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>