﻿@page "{id}/{studentId?}/{syllabusId?}"
@model EditManageSyllabusModel
@{
    ViewData["Tilte"] = "Index";

    if (Model.Student != null)
    {
        ViewBag.StudentsActive = "active";
    }

    if (Model.CourseSyllabus != null)
    {
        ViewBag.SyllabusActive = "active";
    }
    
    if (Model.CourseSyllabus == null && Model.Student == null)
    {
        ViewBag.SyllabuStudentsActive = "active";
    }

    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">
                @if (Model.Student != null)
                {
                    <text>Manage @Model.Student.FullName</text>
                }
                else if (Model.CourseSyllabus == null)
                {
                    <text>Manage Student/Syllabus</text>
                }

                @if (Model.CourseSyllabus != null)
                {
                    <text>Manage @Model.CourseSyllabus.Name</text>
                }
                else if (Model.Student == null)
                {
                    <text>Manage Student/Syllabus</text>
                }
            </h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">User Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">Student</label>

                                            @if (Model.Student != null)
                                            {
                                                <input type="hidden" class="form-control" asp-for="Input.Id" value="@Model.Input.Id" placeholder="Student">
                                                <input type="hidden" class="form-control" asp-for="Input.StudentId" value="@Model.Student.Id" placeholder="Student">
                                                <input type="text" class="form-control" value="@Model.Student.FullName" readonly placeholder="Student">
                                            }
                                            else
                                            {
                                                <select asp-items="@Model.StudentSelectList" asp-for="Input.StudentId" class="form-control">
                                                    <option>Please select Student</option>
                                                </select>
                                            }
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName">Syllabus</label>

                                            @if (Model.CourseSyllabus != null)
                                            {
                                                <input type="hidden" class="form-control" asp-for="Input.SyllabusId" value="@Model.CourseSyllabus.Id" placeholder="Programme">
                                                <input type="text" class="form-control" value="@Model.CourseSyllabus.Name" readonly placeholder="Programme">
                                            }
                                            else
                                            {
                                                <select asp-items="@Model.SyllabusSelectList" asp-for="Input.SyllabusId" class="form-control">
                                                    <option>Please select Program</option>
                                                </select>
                                            }
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">
                                        @if (Model.Student != null)
                                        {
                                            <text>Add Student</text>
                                        }

                                        @if (Model.CourseSyllabus != null)
                                        {
                                            <text>Add Syllabus</text>
                                        }

                                        @if (Model.CourseSyllabus == null && Model.Student == null)
                                        {
                                            <text>Add Syllabus/Student</text>
                                        }

                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>