﻿@page
@model QuizQuestionTypesModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.QuizQuestionTypeActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">@Model.School.Name</span>
            <h3 class="page-title">Quiz Question Type List</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    @*<a href="/School/AddQuiz/" class="btn btn-sm btn-accent ml-auto d-table mr-3"> <i class="fa fa-plus"></i> Add Quiz Question Type </a>*@
                    <h6 class="m-0">Quizzes </h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">                    
                    <table class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">#</th>
                                <th scope="col" class="border-0">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var types in Model.QuizQuestionTypes.Select((value, i) => new { i, value}))
                            {
                                <tr>
                                    <td>@(types.i + 1) </td>
                                    <td>@types.value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>