﻿@page
@model TopicsModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.TopicsActive = "active";
    ViewBag.LoggedUser = Model.School.Name;
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">@Model.School.Name</span>
            <h3 class="page-title">Topics List</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <a href="/School/AddTopic/" class="btn btn-sm btn-accent ml-auto d-table mr-3"> <i class="fa fa-plus"></i> Add Topic </a>
                    <h6 class="m-0">Active Users</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">                    
                    <table class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">#</th>
                                <th scope="col" class="border-0">Syllabus</th>
                                <th scope="col" class="border-0">Parent</th>
                                <th scope="col" class="border-0">Name</th>
                                <th scope="col" class="border-0">Duration</th>
                                <th scope="col" class="border-0">Active</th>
                                <th scope="col" class="border-0">Date Created</th>
                                <th scope="col" class="border-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in Model.ListOfTopics.Select((value, i) => new { i, value}))
                            {
                            <tr>
                                <td>@(topic.i + 1) </td>
                                <td>@topic.value.CourseSyllabus.Name</td>
                                <td>@topic.value.SyllabusTopicsParent?.Name</td>
                                <td>@topic.value.Name</td>
                                <td>@topic.value.Duration</td>
                                <td>@topic.value.IsActive</td>
                                <td>@topic.value.DateCreated.ToShortDateString()</td>
                                <td>
                                    <div class="btn-group d-table ml-auto" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-sm btn-white" onclick="window.location.href='/School/EditTopic/@topic.value.Id'"><i class="fa fa-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-sm btn-white" onclick="window.location.href='/School/EditTopic?handler=delete'"><i class="fa fa-trash"></i> Delete</button>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>