﻿<div class="main-content-container container px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Welcome</span>
            <h3 class="page-title">@QuizappSettings.Setting().ProjectName News</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 mb-4">
            <div class="stats-small card card-small">
                <div class="card-body px-0 pb-0">
                    <div class="d-flex px-3">
                        <div class="stats-small__data">
                            <span class="stats-small__label mb-1 text-uppercase">Users</span>
                            <h6 class="stats-small__value count m-0">2,390</h6>
                        </div>
                        <div class="stats-small__data text-right align-items-center">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>
                    </div>
                    <canvas height="60" class="analytics-overview-stats-small-1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-4">
            <div class="stats-small card card-small">
                <div class="card-body px-0 pb-0">
                    <div class="d-flex px-3">
                        <div class="stats-small__data">
                            <span class="stats-small__label mb-1 text-uppercase">Sessions</span>
                            <h6 class="stats-small__value count m-0">8,391</h6>
                        </div>
                        <div class="stats-small__data text-right align-items-center">
                            <span class="stats-small__percentage stats-small__percentage--decrease">7.21%</span>
                        </div>
                    </div>
                    <canvas height="60" class="analytics-overview-stats-small-2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-4">
            <div class="stats-small card card-small">
                <div class="card-body px-0 pb-0">
                    <div class="d-flex px-3">
                        <div class="stats-small__data">
                            <span class="stats-small__label mb-1 text-uppercase">Pageviews</span>
                            <h6 class="stats-small__value count m-0">21,293</h6>
                        </div>
                        <div class="stats-small__data text-right align-items-center">
                            <span class="stats-small__percentage stats-small__percentage--increase">3.71%</span>
                        </div>
                    </div>
                    <canvas height="60" class="analytics-overview-stats-small-3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/1.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/0.jpg');">Written by Anna Kunis</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Conduct at an replied removal an amongst</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                    <span class="text-muted">28 February 2019</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/2.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/1.jpg');">Written by James Jamerson</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Off tears are day blind smile alone had ready</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my...</p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/3.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-royal-blue">Technology</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/2.jpg');">Written by Jimmy Jackson</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Difficult in delivered extensive at direction</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my...</p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/4.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-warning">Technology</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/3.jpg');">Written by John James</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">It so numerous if he may outlived disposal</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved ready road market resolution...</p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/5.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/0.jpg');">Written by Anna Ken</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Attention he extremity unwilling on otherwise cars backwards yet</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...</p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-post__image" style="background-image: url('/images/content-management/6.jpeg');">
                    <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/1.jpg');">Written by Jamie James</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Totally words widow one downs few age every seven if miss part by fact</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education to admitted speaking...</p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
                <div class="card-body">
                    <h5 class="card-title">Had denoting properly jointure which well books beyond</h5>
                    <p class="card-text text-muted"> In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire acceptance son. Exeter longer wisdom work...</p>
                </div>
                <div class="card-footer border-top d-flex">
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/1.jpg');">Written by James Khan</a>
                        <div class="d-flex flex-column justify-content-center ml-3">
                            <span class="card-post__author-name">James Khan</span>
                            <small class="text-muted">21 March 2011</small>
                        </div>
                    </div>
                    <div class="my-auto ml-auto">
                        <a class="btn btn-sm btn-white" href="#">
                            <i class="far fa-bookmark mr-1"></i> Bookmark
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
                <div class="card-body">
                    <h5 class="card-title">Husbands ask repeated resolved but laughter debating</h5>
                    <p class="card-text text-muted">It abode words began enjoy years no do ﻿no. Tried spoil as heart visit blush or. Boy possible blessing sensible set but margaret interest. Off tears...</p>
                </div>
                <div class="card-footer border-top d-flex">
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/2.jpg');">Written by Anna Kunis</a>
                        <div class="d-flex flex-column justify-content-center ml-3">
                            <span class="card-post__author-name">Chris Jones</span>
                            <small class="text-muted">21 March 2011</small>
                        </div>
                    </div>
                    <div class="my-auto ml-auto">
                        <a class="btn btn-sm btn-white" href="#">
                            <i class="far fa-bookmark mr-1"></i> Bookmark
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
                <div class="card-body">
                    <h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5>
                    <p class="card-text text-muted">West room at sent if year. Numerous indulged distance old law you. Total state as merit court green decay he. Steepest merit checking railway...</p>
                </div>
                <div class="card-footer border-top d-flex">
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/avatars/3.jpg');">Written by Anna Kunis</a>
                        <div class="d-flex flex-column justify-content-center ml-3">
                            <span class="card-post__author-name">Mark Jameson</span>
                            <small class="text-muted">21 March 2011</small>
                        </div>
                    </div>
                    <div class="my-auto ml-auto">
                        <a class="btn btn-sm btn-white" href="#">
                            <i class="far fa-bookmark mr-1"></i> Bookmark
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post h-100">
                <div class="card-post__image" style="background-image: url('/images/content-management/7.jpeg');"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Extremity so attending objection as engrossed</a>
                    </h5>
                    <p class="card-text">Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel not seeing...</p>
                </div>
                <div class="card-footer text-muted border-top py-3">
                    <span class="d-inline-block">By <a class="text-fiord-blue" href="#">Alene Trenton</a> in <a class="text-fiord-blue" href="#">News</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post h-100">
                <div class="card-post__image" style="background-image: url('/images/content-management/8.jpeg');"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Bed sincerity yet therefore forfeited his </a>
                    </h5>
                    <p class="card-text">Pursuit chamber as elderly amongst on. Distant however warrant farther to of. My justice wishing prudent waiting in be...</p>
                </div>
                <div class="card-footer text-muted border-top py-3">
                    <span class="d-inline-block">By <a class="text-fiord-blue" href="#">Chris Jamie</a> in <a class="text-fiord-blue" href="#">News</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post h-100">
                <div class="card-post__image" style="background-image: url('/images/content-management/9.jpeg');"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">Object remark lively all did feebly excuse our</a>
                    </h5>
                    <p class="card-text">Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye. Sufficient unpleasing and...</p>
                </div>
                <div class="card-footer text-muted border-top py-3">
                    <span class="d-inline-block">By <a class="text-fiord-blue" href="#">Monica Jordan</a> in <a class="text-fiord-blue" href="#">News</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post h-100">
                <div class="card-post__image" style="background-image: url('/images/content-management/10.jpeg');"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#">His followed carriage proposal entrance</a>
                    </h5>
                    <p class="card-text">For county now sister engage had season better had waited. Occasional mrs interested far expression directly as regard...</p>
                </div>
                <div class="card-footer text-muted border-top py-3">
                    <span class="d-inline-block">By <a class="text-fiord-blue" href="#">Monica Jordan</a> in <a class="text-fiord-blue" href="#">News</a></span>
                </div>
            </div>
        </div>
    </div>
</div>