﻿@page
@model AddSchoolModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.SchoolsActive = "active";
    ViewBag.LoggedUser = Model.Admin.FullName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">School</span>
            <h3 class="page-title">Add School</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">School Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">School Name</label>
                                            <input type="text" class="form-control" asp-for="Input.Name" value="" placeholder="School Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName">Website</label>
                                            <input type="text" class="form-control" asp-for="Input.Website" placeholder="Website" value="https://">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feEmailAddress">Email</label>
                                            <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email" value="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fePassword">Phone</label>
                                            <input type="text" class="form-control" asp-for="Input.PhoneNumber" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feEmailAddress">Username</label>
                                            <input type="text" class="form-control" asp-for="Input.Username" placeholder="Email" value="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fePassword">Password</label>
                                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">City</label>
                                            <input type="text" class="form-control" asp-for="Input.City">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputZip">Zip</label>
                                            <input type="text" class="form-control" asp-for="Input.Zip">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="feDescription">Address</label>
                                            <textarea class="form-control" name="Input.Address" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Add School</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>