﻿@page
@model LoginModel
@{
    ViewBag.SettingsActive = "active";
    Layout = null;
}


<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@QuizappSettings.Setting().ProjectName: Admin - Login</title>
    <meta name="description" content="A premium collection of beautiful hand-crafted Bootstrap 4 admin dashboard templates and dozens of custom components built for data-driven applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="~/styles/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="~/styles/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="h-100">
    <div class="color-switcher animated">
        <h5>Accent Color</h5>
        <ul class="accent-colors">
            <li class="accent-primary active" data-color="primary"><i class="material-icons">check</i></li>
            <li class="accent-secondary" data-color="secondary"><i class="material-icons">check</i></li>
            <li class="accent-success" data-color="success"><i class="material-icons">check</i></li>
            <li class="accent-info" data-color="info"><i class="material-icons">check</i></li>
            <li class="accent-warning" data-color="warning"><i class="material-icons">check</i></li>
            <li class="accent-danger" data-color="danger"><i class="material-icons">check</i></li>
            <li class="accent-royal-blue" data-color="royal-blue"><i class="material-icons">check</i></li>
            <li class="accent-java" data-color="java"><i class="material-icons">check</i></li>
            <li class="accent-salmon" data-color="salmon"><i class="material-icons">check</i></li>
        </ul>
        <div class="actions mb-4">
            <a class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action" href="https://designrevision.com/downloads/shards-dashboards"><i class="material-icons">shopping_cart</i> Purchase Now</a>
            <a class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action" href="https://designrevision.com/docs/shards-dashboards"><i class="material-icons">book</i> Documentation</a>
        </div>
        <div class="close"><i class="material-icons">close</i></div>
    </div>
    <div class="color-switcher-toggle animated pulse infinite">
        <i class="material-icons">settings</i>
    </div>
    <div class="container-fluid icon-sidebar-nav h-100">
        <div class="row h-100">
            <main class="main-content col">
                <div class="main-content-container container-fluid px-4 my-auto h-100">
                    <div class="row no-gutters h-100">
                        <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto">
                            <div class="card">
                                <div class="card-body">
                                    <img class="auth-form__logo d-table mx-auto mb-3" src="~/images/shards-dashboards-logo.svg" alt="Shards Dashboards - Register Template">
                                    <h5 class="auth-form__title text-center mb-4">@QuizappSettings.Setting().ProjectName Admin</h5>
                                    <form method="post">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="text" class="form-control" asp-for="Input.Username" aria-describedby="emailHelp" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password">
                                        </div>
                                        <div class="form-group mb-3 d-table mx-auto">
                                            <div class="custom-control custom-checkbox mb-1">
                                                <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe">
                                                <label class="custom-control-label" for="Input_RememberMe">Remember me for 30 days.</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Access Account</button>
                                    </form>
                                </div>
                                <div class="card-footer border-top">
                                    <ul class="auth-form__social-icons d-table mx-auto">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="auth-form__meta d-flex mt-4">
                                <a href="forgot-password.html">Forgot your password?</a>
                                @*<a class="ml-auto" href="register.html">Create new account?</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="~/scripts/extras.1.3.1.min.js"></script>
    <script src="~/scripts/shards-dashboards.1.3.1.min.js"></script>
</body>
</html>