﻿@page
@model SettingsModel
@{
    ViewData["Tilte"] = "Index";
    ViewBag.SettingsActive = "active";
    ViewBag.LoggedUser = Model.Admin.FullName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Admin</span>
            <h3 class="page-title">Profile</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">School Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                <form class="AVAST_PAM_signupform">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feFirstName">First Name</label>
                                            <input type="text" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="feLastName">Last Name</label>
                                            <input type="text" class="form-control" id="feLastName" placeholder="Last Name" value="Brooks">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feEmailAddress">Email</label>
                                            <input type="email" class="form-control" id="feEmailAddress" placeholder="Email" value="sierra@example.com">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fePassword">Password</label>
                                            <input type="password" class="form-control" id="fePassword" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="feInputAddress">Address</label>
                                        <input type="text" class="form-control" id="feInputAddress" placeholder="1234 Main St">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="feInputCity">City</label>
                                            <input type="text" class="form-control" id="feInputCity">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="feInputState">State</label>
                                            <select id="feInputState" class="form-control">
                                                <option selected="">Choose...</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputZip">Zip</label>
                                            <input type="text" class="form-control" id="inputZip">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="feDescription">Description</label>
                                            <textarea class="form-control" name="feDescription" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-accent">Update Settings</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>